#loadingScreen {
    display: block;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    background: rgba(255, 255, 255, 0.8);
 }